/*
!hacs.json
!readme.md
!dev_notes.md
!.gitignore
!/custom_components
!/custom_templates
!/dashboards
!/template_sensors
!*.png
custom_components/brewfather/__pycache__/
custom_components/brewfather/models/__pycache__/
